@import url('https://fonts.googleapis.com/css2? family= Ubuntu+Mono & display=swap');

@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

*{ 
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{    
    height: 100%;
}

a{
    color: black;
    font-size: 18pt;
    font-family: 'Teko', sans-serif;
}

a:hover{
    color: rgb(241, 241, 12);
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.cabecalho-redes{
    display: flex;
    gap: 15px;
}

.cabecalho-botoes{
    display: flex;
    gap: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* CONTAINER UM */

.container-um{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 100%;
    background: url(../img/cod_binario.png);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

}

.container-um-bio{
    display: flex;
    flex-direction: column;
    width: 50vw;
    padding-top: 150px;
}

.container-um-bio-titulo{
    font-family: 'Teko', sans-serif;
    font-size: 38pt;    
}

.container-um-bio-descricao{
    font-family: 'Ubuntu Mono', monospace;
    font-size: 14pt;
    padding-top: 10px;
    padding-left: 20px;
    text-align: justify;
}

.container-um-logo{
    height: 100%;
}

/* CONTAINER DOIS */

.container-dois{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 100%;
}

.container-dois-titulo{
    font-family: 'Teko', sans-serif;
    font-size: 40pt;
    color:white;
}

/* CONTAINER TRES */

.container-tres{
    display: flex;
    width: 100%;
}

.container-tres-titulo{
    display: flex;
    align-items: center;
}

.container-tres-proj{
    border: 1px solid rgba(0, 0, 0, 0.473);    
    margin-top:10px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.container-tres-proj-img{
    width: 15vw;
}

.container-tres-titulo-texto{
    font-family: 'Teko', sans-serif;
    font-size: 40pt;
}

/* CONTAINER QUATRO */

.container-quatro{
    display: flex;
    background-color: black;
    width: 100%;
    border-top: 5px solid rgb(241, 241, 12);
    border-bottom: 5px solid rgb(241, 241, 12);
}

.container-quatro-contato{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.container-quatro-contato-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding: 10px;
}

.container-quatro-contato-form-texto-campos{
    border-radius: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    }

#nome, #assunto, #email, #mensagem{
    width: 450px;
    padding: 20px;
}

#botao{
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    color: black;
    border-radius: 10px;
    font-family: 'Teko', sans-serif;
    font-size: 14pt;
    
}

.container-quatro-contato-form-titulo{
    display: flex;
    font-family: 'Teko', sans-serif;
    font-size: 40pt;
}

.container-quatro-contato-form-texto{
    font-family: 'Ubuntu Mono', monospace;
    font-size: 12pt;
}

.container-quatro-contato-dados{
    font-family: 'Teko', sans-serif;
    font-size: 18pt;
}

/* RODAPE */

.rodape{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.rodape-botoes{
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.rodape-logo{
    height: 100px;
}

.rodape-texto{
    display: flex;
    width: 300px;
}

 .rodape-texto-copyright{
    font-family: 'Ubuntu Mono', monospace;
    font-size: 10pt;
    align-items: center;
    justify-content: center;
 }