@import url('https://fonts.googleapis.com/css2? family= Ubuntu+Mono & display=swap');

@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

*{ 
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{    
    height: 100%;
}

a{
    color: black;
    font-size: 18pt;
    font-family: 'Teko', sans-serif;
}

a:hover{
    color: red;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.cabecalho-redes{
    display: flex;
    gap: 15px;
}

.cabecalho-botoes{
    display: flex;
    gap: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-um{
    display: flex;
    flex-direction: row;
    width: 50vw;
}

.container-um-bio{
    display: flex;
    flex-direction: column;
    padding-top: 150px;
}

.container-um-bio-titulo{
    font-family: 'Teko', sans-serif;
    font-size: 24pt;
}

.container-um-bio-descricao{
    font-family: 'Ubuntu Mono', monospace;
    font-size: 12pt;
    padding-top: 10px;
    padding-left: 20px;
    text-align: justify;
}

.container-um-logo{
    height: 300px;
}

.container-dois{
    background-color: green;
}

.container-tres{

    background-color: yellow;
}

.rodape{
    padding: 32px;
    background-color: red;
}

.rodape-texto{
    display: flex;
    align-items: center;    
    height: 40px;
}
 .rodape-texto-copyright{
    font-family: 'Ubuntu Mono', monospace;
    font-size: 10pt;
    padding: 10px;
 }