@import url('https://fonts.googleapis.com/css2? family= Ubuntu+Mono & display=swap');

@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

*{ 
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{    
    height: 100%;
}

a{
    color: black;
    font-size: 18pt;
    font-family: 'Teko', sans-serif;
}

a:hover{
    color: red;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.cabecalho-redes{
    display: flex;
    gap: 15px;
}

.cabecalho-botoes{
    display: flex;
    gap: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-um{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 100%;
    background-color: black;
}

.container-um-bio{
    display: flex;
    flex-direction: column;
    width: 50vw;
    padding-top: 150px;
    color: white;
}

.container-um-bio-titulo{
    font-family: 'Teko', sans-serif;
    font-size: 24pt;
}

.container-um-bio-descricao{
    font-family: 'Ubuntu Mono', monospace;
    font-size: 12pt;
    padding-top: 10px;
    padding-left: 20px;
    text-align: justify;
}

.container-um-logo{
    height: 300px;
}

.container-dois{
    display: flex;
    width: 100%;
}

.container-dois-titulo{
    display: flex;
    align-items: center;
}

.container-dois-proj{
    border: 1px solid rgba(0, 0, 0, 0.473);    
    margin-top:10px;
    margin-bottom: 10px;
}

.container-dois-titulo-texto{
    font-family: 'Teko', sans-serif;
    font-size: 40pt;
}

.container-tres{
    display: flex;
    background-color: black;
    width: 100%;
}

.container-tres-contato{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.container-tres-contato-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding-bottom: 10px;
}

.container-tres-contato-form-texto-campos{
    border-radius: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    }

#nome, #assunto, #email, #mensagem{
    width: 450px;
    padding: 20px;
}

#botao{
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    color: black;
    border-radius: 10px;
    font-family: 'Teko', sans-serif;
    font-size: 14pt;
    
}

.container-tres-contato-form-titulo{
    display: flex;
    font-family: 'Teko', sans-serif;
    font-size: 40pt;
}

.container-tres-contato-form-texto{
    font-family: 'Ubuntu Mono', monospace;
    font-size: 12pt;
}

.container-tres-contato-dados{
    font-family: 'Teko', sans-serif;
    font-size: 18pt;
}

.rodape{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.rodape-botoes{
    display: flex;
    flex-direction: column;
}

.rodape-texto{
    display: flex;
}

 .rodape-texto-copyright{
    font-family: 'Ubuntu Mono', monospace;
    font-size: 10pt;
    align-items: center;
    justify-content: center;
 }