
@media screen and (max-width: 780px){
    header{
    } 

    section{
        width: 100%;
    }  
    

    #cabecalho-redes-mobile{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
       
    #container-titulo{
        width: 100%;
        flex-direction: column-reverse;
    }

    #legenda-texto{
        display: flex;
       /* margin-top: 60vh;*/
    }

    #legenda-texto h1{
    }    

    #imagem-titulo{
        width: 100%;
     }

    #sobre{        
        flex-direction: column;        
    }
    
    #projetos{
        flex-direction: column;
    }

    #rodape{
        flex-direction: column;
    }

    .caixa-projetos{
        flex-direction: column;
    }
    
    .caixa-projetos img{        
        width: 100%;
    }

    .descricao-projetos{
        width: 100%;
        text-align: left;
    }
    
    .direita{
        align-items: start;
        text-align: left;
    }

    .reverso{
        flex-direction: column-reverse;
    }
}