
@media screen and (max-width: 780px){
    header{
    } 

    section{
        width: 100%;
    }
    
    #cabecalho-redes{
        display: none;
    }

    #cabecalho-redes-mobile{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    #cabecalho-redes-mobile a{
        color: white;
    }
    
    #container-titulo{
        width: 100%;
        height: 100vh;
        flex-direction: column;
        background: url(../img/Ivan_topo_preto6.png);
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    #legenda-texto{
        display: flex;
        margin-top: 60vh;
    }

    #legenda-texto h1{
        color: var(--branco);
    }

    

    #imagem-titulo{
        display: none;
    }

    #sobre{        
        flex-direction: column;        
    }
    
    #projetos{
        flex-direction: column;
    }

    #rodape{
        flex-direction: column;
    }
    
    .caixa-projetos img{
        max-width: 100px;
    }
}