@import url('https://fonts.googleapis.com/css2? family= Ubuntu+Mono & display=swap');

@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

:root{
    --titulo: 'Teko', sans-serif;
    --texto: 'Ubuntu Mono', monospace;
    --padrao: Verdana, Geneva, Tahoma, sans-serif;
}

*{ 
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

/* CONF GERAIS */

body{    
    width: 100vw;
    font-family: var(--padrao);
}

a{
    color: black;
    font-size: 1.5em;
    font-family: var(--titulo);
    padding: 10px;
}

a:hover{
    color: rgb(241, 241, 12);
}

h1,h2,h3{
    font-family: var(--titulo);
    font-size: 2em;
   }
   
p{
    font-family: var(--texto);
}

/* CONTAINER HEDEAR */

header{
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 10px;    
}

nav{
    display: flex;
    justify-content: space-around;
}


nav > #cabecalho-botoes > a:hover{    
    text-shadow: 0px 0px 10px black;
}

/* BASE DO CORPO */

main{
    max-width: 100vw;
}

section{
    margin: auto;
}


/* CONTAINER TOPO */

main > #topo{ 
    display: flex;
    justify-content: center;
    align-items: flex-end;   
    padding-bottom: 100px;     
    height: 700px;   
    background: url(../img/ivan_topo.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
    border-bottom: 10px solid rgba(0, 0, 0, 0.733);    
    color: white;   
}

main > #topo > #topo-titulo{
    text-align: center;
}

main > #topo > #topo-titulo > h1{
    font-size: 3em;
}

main > #topo > #topo-titulo >  p{
    font-size: 1.5em;
}

/* CONTAINER ABOUT */

main > #about{
    height: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(#787878,white);
    width: 100%;
}

main > #about > img{
    max-width: 400px;
    border: 10px dashed gray;
    border-radius: 50%;
}

main > #about > #about-texto-um{
    max-width: 350px;
    text-align: justify;
    font-size: 1em;
}

main > #about > #about-texto-um > h2{
    color: rgb(241, 241, 12);
    text-shadow: 0px 0px 10px black;
    padding-bottom: 20px;
}

main > #about > #about-texto-um > p > strong{
    color: red;
}

main > #about > #about-texto-dois > h2{
    color: black;
    font-size: 1em;
}

main > #about > #about-texto-dois{
    max-width: 350px;
    text-align: justify;
    font-size: 1.5em;
}

main > #about > #about-texto-dois > h2{
    color: red;
    font-size: 3em;
}


/* CONTAINER SKILLS */

main > #skills{
    height: 300px;
    text-align: center;    
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

main > #skills > h2{
    padding-bottom: 30px;
}

main > #skills > a > img{

    max-width: 130px;
    border: transparent;
    border-radius: 30px;
}

/* CONTAINER PORTIFOLIO */

main > #portifolio{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: linear-gradient(white,#B8B8B8);
    padding-bottom: 100px;
    padding-top: 100px;
    border-bottom: 2px solid rgba(114, 113, 113, 0.883);
}

main > #portifolio > h2{
    max-width: 300px;
    text-align: left;
    padding: 30px;
}

main > #portifolio > #portifolio-img{
    display: flex;
    max-width: 800px ;
    
}

main > #portifolio > #portifolio-img > img{
    max-width: 200px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

main > #portifolio > #portifolio-img > img:hover{
    border: 5px solid rgb(241, 241, 12);
    border-radius: 5px;
}

/* CONTAINER CONTACT */

main > #contact{
    background-image: linear-gradient(#B8B8B8,black);
    border-bottom: 2px solid rgba(54, 54, 54, 0.883);
}

main > #contact > article {
    background-image: url(../img/cod_binario.png);
}

main > #contact > article > h2{
    text-align: center;
    padding-top: 50px;
}

main > #contact > article >  #contact-formulario{
    max-width: 800px;
    margin: auto;
    background-color: rgba(128, 128, 128, 0.13);
}

main > #contact > article > #contact-formulario > form{
    width: 100%;
    padding: 50px;
}

main > #contact > article > #contact-formulario > form > p > label{
    color: white;
    padding-bottom: 20px;
}

main > #contact > article >  #contact-formulario > form > input{
    width: 100%;
    height: 30px; 
    font-family: var(--texto);
    font-size: 1em;    
    border: 1px solid black; 
    border-radius: 5px;
    padding-left: 10px;  
}
main > #contact > article >  #contact-formulario > form > textarea{
    width: 100%; 
    font-family: var(--texto);
    font-size: 14pt;
    border: 1px solid black; 
    border-radius: 5px;
    padding-left: 10px; 
    padding-top: 5px;
}

main > #contact > article >  #contact-formulario > form > #contact-botao{
    
   text-align: center;
}

main > #contact > article >  #contact-formulario > form > #contact-botao > #enviar{ 
    width: 30%;
    font-family: var(--titulo);
    font-size: 1.5em;
    background-color: rgb(241, 241, 12);
    color:  black;
    border: transparent;
    border-radius: 10px;
    cursor: pointer;
}

main > #contact > article >  #contact-formulario > form > #contact-botao > #enviar:hover{
    color:white;
    box-shadow: 0px 0px 10px white;
}

/* CONTAINER FOOTER */

footer{
    display: flex;
    flex-direction: column;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    background-color: black;
    color: #B8B8B8;
}

footer > article{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer > article > #rodape-botoes{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

footer > article > #rodape-botoes > h3{
    font-size: 30px;
    color: rgb(241, 241, 12);
}

footer > article > #rodape-botoes > a{    
    color: #B8B8B8;
}

footer > article > #rodape-botoes > a:hover{    
    border-bottom: 1px solid rgb(241, 241, 12);
    border-radius: 10px;
}

footer > article > #rodape-botoes > p{
    width: 300px;
    font-family: var(--texto);
    font-size: 10pt;
}

footer > #rodape-texto{
    height: 50px;
    text-align: center;
    padding-top: 20px;
}
