@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Ubuntu+Mono & display=swap');

@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

:root{
    --titulo: 'Teko', sans-serif;
    --texto: 'Ubuntu Mono', monospace;
    --padrao: Verdana, Geneva, Tahoma, sans-serif;
    --azul: #003CC0;
    --preto: #141414;
    --amarelo: rgb(241, 241, 12);
    --branco: white;
    --cinza: lightgray;
    --cinza-escuro:gray;
    --switch-bg: url(../assets/moon-stars.svg);
    --surface-color: rgba(211, 211, 211, 0.205);
    --stroke-color: rgba(128, 128, 128, 0.342);
}


*{ 
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    background-color: var(--preto);
    color: var(--preto);
}

/* Light Mode */

.light{
    background-color: var(--branco);
    color: var(--preto);
    --switch-bg: url(../assets/sun.svg);
}
.light a{
    color: var(--preto);
    border: 0px;
    border-radius: none;
}
.light a:hover{
    color: var(--amarelo);    
}

.light h1{
    color: var(--cinza-escuro);
}
.light p{
    color: var(--preto);
}

.light .caixa-projetos a{
    background-color: var(--preto);
    color: var(--cinza);
}

.light .tecnologia-projetos p{
    color: var(--cinza);
}

.light #switch button{
    right: 0;
    left: initial;
}

/* CONF GERAIS */

body{    
    width: 100%;
    min-height: 100vh;
    font-family: var(--padrao);
}

a{
    color: var(--cinza);
    font-size: 1.5em;
    font-family: var(--titulo);
    padding: 10px;
    transition: all 0.5s;
}

a:hover{
    color: var(--amarelo);
}

h1,h2,h3{
    font-family: var(--titulo);
    color: var(--cinza);
    font-size: 2em;
}
   
p{
    font-family: var(--texto);
    color: var(--cinza);
}

header{
    width: 100%;
}

main{
    width: 100%;
    
}

main h2{
    font-size: 4em;
}

section{    
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 24px;
}

article{    
    height: 100%;
}

footer{
    width: 100%; 
}

/* CONTAINER HEADER */

#container-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 70px;    
    width: 100%;
}

#container-logo{    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#menu{
    display: flex;
}

#menu a{ 
    display: block; 
    border-bottom: 1px solid transparent;
}

#menu a:hover{ 
    border-bottom: 1px solid var(--amarelo);
    border-radius: 10px;    
}

#btn-mobile{
    display: none;
}

/*switch*/

#switch{
    position: relative;
    width: 64px;
}

#switch button{
    background-color: var(--cinza);
    height: 32px;
    width: 32px;
    border: 0;
    border-radius: 50%;
    background-image: var(--switch-bg);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

#switch span{
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}


/* CONTAINER MAIN */

/* TITULO */

#container-titulo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    height: 100vh;
}

#container-titulo span{ 
    font-size: 2em;
}

#legenda-texto{
    display: flex;
    flex-direction: column;
    line-height: 40px;
    font-size: 1em;
    padding: 15px;
}

span{    
    color: var(--amarelo);
}

#redes-sociais{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
    width: 100%;
}

#imagem-titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 400px;
}

#imagem-titulo img{
    max-width: 100%;
    width: 300px;    
    border-radius: 50%;
    border: 2px solid var(--preto);
}

/* SOBRE */

#container-sobre{
    padding: 30px;
    height: 100vh;
}

#sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    border-radius: 5px;
}

.descricao-sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#skills-sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#skills-sobre > div > h2{
    font-size: 2em;
}

#icons-skills{
    display: flex;
    flex-direction: row;
}

#icons-skills div{
    display: flex;
    flex-direction: row;    
}

#icons-skills  div  a  img{
    max-width: 60px;
    padding: 10px;
    border-radius: 15px;
}

/* PROJETOS */

#projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 100%;
}

/* .caixas-projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
} */

.caixas-projetos{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    width: 100%;
}

.caixas-projetos button{
    border: 0px;
    border-radius: 3px;
    width: 100px;
    padding: 10px;
    cursor: pointer;
}

.caixas-projetos button:hover{
    background-color: var(--amarelo);
    color: red;
}

/* .caixa-projetos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    padding: 10px 0px;
} */

.caixa-projetos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0px;
}

.caixa-projetos img{
    max-width: 100%;
    width: 400px;
    border: 1px solid var(--preto);
    border-radius: 5px;
}

.descricao-projetos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 10px;
}

/* .direita{
    text-align: right;
    align-items: end;
} */
/* .esquerda{
    text-align: left;
    align-items: start;
} */

.tecnologia-projetos{
    display: flex;
    flex-direction: row;
}

.tecnologia-projetos p{
    padding: 5px;
    border-radius: 8px;
    font-size: 8pt;
    margin: 5px;
    color: var(--cinza-escuro);
}

.imagem-projetos{
    width: 50%;
}

.botao-projetos{
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-top: 10px;
}

.botao-projetos a{
    font-size: 11pt;
    margin-left: 10px;
    background-color: var(--amarelo);
    color: var(--preto);
    border-radius: 8px;   
}

/* CONTAINER FOOTER */

#rodape{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
}

#rodape-texto{
    text-align: center;
    padding: 20px;
}

/* BUTTON TOPO*/

#btn-topo{
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    bottom: 30px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: var(--cinza);
    border-radius: 50%;
    cursor: pointer;
}

.arrow{
    border: solid var(--cinza-escuro);
    border-width: 0 7px 7px 0;
    padding: 5px;
    display: inline-block;
}

.up{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

/* SCROLLBAR */

::-webkit-scrollbar{
    width: 15px;
    background-color: var(--preto);
}

::-webkit-scrollbar-thumb{
    background-color: var(--cinza);    
}