@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Ubuntu+Mono & display=swap');

@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

:root{
    --titulo: 'Teko', sans-serif;
    --texto: 'Ubuntu Mono', monospace;
    --padrao: Verdana, Geneva, Tahoma, sans-serif;
    --azul: #003CC0;
    --preto: #141414;
    --amarelo: rgb(241, 241, 12);
    --branco: white;
    --cinza: lightgray;
}


*{ 
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* CONF GERAIS */

html{
    scroll-behavior: smooth;
}

body{    
    width: 100%;
    min-height: 100vh;
    font-family: var(--padrao);
}

a{
    color: var(--cinza);
    font-size: 1.5em;
    font-family: var(--titulo);
    padding: 10px;
    transition: all 0.5s;
}

a:hover{
    color: var(--amarelo);
}

h1,h2,h3{
    font-family: var(--titulo);
    font-size: 2em;
    color: var(--cinza)
   }
   
p{
    font-family: var(--texto);
    color: var(--cinza);
}

button{
    color: var(--branco);
}

header{
    width: 100%;   
}

main{
    width: 100%;
    background-color: var(--preto);
}

main h2{
    font-size: 4em;
}

section{    
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;  
}

article{    
    height: 100%;
    padding: 15px;
}

footer{
    width: 100%;  
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    background-color: var(--preto);
}

/* CONTAINER HEADER */

#container-header{    
    
}

#cabecalho-redes-mobile{
    display: none;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
    width: 100%;
    position: fixed;
    background-color: var(--preto);
}


#cabecalho-botoes > a:hover{ 
    border-bottom: 1px solid var(--amarelo);
    border-radius: 10px;
}

/* CONTAINER MAIN */

/* TITULO */

#container-titulo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;    
    height: 100vh;
    margin: 0 auto;
}

#legenda{    
}

#legenda-texto{
    display: flex;
    flex-direction: column;
    line-height: 40px;
    font-size: 1em;
    padding: 15px;
}

span{    
    color: var(--amarelo);
    font-size: 2em;
}

#imagem-titulo{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 400px;
    border: 5px solid #040505;
    border-radius: 50%;
    background: url(../img/Ivan_topo_preto6.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#imagem-titulo img{
    
}

/* SOBRE */

#container-sobre{
    padding: 30px;
    height: 100vh;
}

#sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    padding: 30px;
    border-radius: 5px;
}

.descricao-sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#skills-sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#skills-sobre > div > h2{
    font-size: 2em;
}

#icons-skills{
    display: flex;
    flex-direction: row;
}

#icons-skills > div{
    display: flex;
    flex-direction: row;
}

#icons-skills > div > a > img{
    max-width: 60px;
    padding: 10px;
    border-radius: 15px;
}

/* PROJETOS */

#projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 100%;
}

.caixas-projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.caixas-projetos button{
    background-color: var(--azul);
    border: 0px;
    border-radius: 3px;
    width: 100px;
    padding: 10px;
    cursor: pointer;
}

.caixas-projetos button:hover{
    background-color: var(--amarelo);
    color: red;
}

.caixa-projetos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    width: 100%;
    padding: 20px;
}
.descricao-projetos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding: 15px;
}

.direita{
    text-align: right;
    align-items: end;
}
.esquerda{
    text-align: left;
    align-items: start;
}

.bordas{    
    border-bottom: 1px solid lightgray;
}

.tecnologia-projetos{
    display: flex;
    flex-direction: row;
}

.tecnologia-projetos p{
    padding: 5px;
    border-radius: 8px;
    font-size: 8pt;
    background-color: var(--cinza);
    margin: 5px;
    color: gray;
}

.imagem-projetos{
    width: 50%;
    padding: 20px;
}

.caixa-projetos img{
    max-width: 400px;
    border: 1px solid var(--preto);
}

.botao-projetos{
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-top: 10px;
}

.botao-projetos a{
    font-size: 11pt;
    margin-left: 10px;
    border: 1px solid;
    border-color: var(--cinza);
    border-radius: 8px;   
}

/* CONTAINER FOOTER */

#rodape{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    height: 200px;
}

#rodape-botoes{
    display: flex;
    flex-direction: row;
    text-align: center;
}

#rodape-botoes > h3{
    font-size: 30px;
    color: rgb(241, 241, 12);
}

#rodape-botoes > a{       
    color: white;
}

#rodape-botoes > a:hover{  
    color: rgb(241, 241, 12);  
    border-bottom: 1px solid rgb(241, 241, 12);
    border-radius: 10px;
}

#rodape-botoes > p{
    font-family: var(--texto);
    font-size: 10pt;
}

#rodape-sociais{
    display: flex;
    flex-direction: row;
    text-align: center;
}

#rodape-sociais > h3{
    font-size: 30px;
    color: rgb(241, 241, 12);
}

#rodape-sociais > a{    
    color: white;
}

#rodape-sociais > a:hover{  
    color: rgb(241, 241, 12);
}

#rodape-texto{
    text-align: center;
    padding: 20px;
}

/* SCROLLBAR */

::-webkit-scrollbar{
    width: 15px;
    background-color: var(--preto);
}

::-webkit-scrollbar-thumb{
    background-color: var(--cinza);    
}