@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Ubuntu+Mono & display=swap');

@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

:root{
    --titulo: 'Teko', sans-serif;
    --texto: 'Ubuntu Mono', monospace;
    --padrao: Verdana, Geneva, Tahoma, sans-serif;
}


*{ 
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* CONF GERAIS */

body{    
    width: 100vw;
    font-family: var(--padrao);
    background-color: #0511F2;
}

a{
    color: white;
    font-size: 1.5em;
    font-family: var(--titulo);
    padding: 10px;
}

a:hover{
    color: rgb(241, 241, 12);
}

h1,h2,h3{
    font-family: var(--titulo);
    font-size: 2em;
   }
   
p{
    font-family: var(--texto);
}

/* CONTAINER HEDEAR */

header{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 800px;  
    background-image: url(../img/Ivan_topo_preto6.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;    
}

nav{
    display: flex;
    justify-content: space-around;
    padding: 15px;
}


nav > #cabecalho-botoes > a:hover{    
    text-shadow: 0px 0px 10px white;
}

#texto-header{
    text-shadow: 0px 0px 10px black;
    line-height: 40px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    font-size: 1em;
    color: white;
}

span{    
    color: rgb(241, 241, 12);
    font-size: 2em;
}

/* BASE DO CORPO */

main{
    width: 100vw;
    background-image: linear-gradient(#131313,#0511F2);
}

section{
    max-width: 1200px;
    height: 600px;
    margin: auto;
    padding: 15px;
}

article{
    width: 100%;
}
/* CONTAINER ABOUT */

#about{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#about-texto{
    border-right: 1px solid rgba(114, 113, 113, 0.883);
    padding: 50px;
}

#about-texto > h2{
    color: rgb(241, 241, 12);
    text-shadow: 0px 0px 10px black;
    font-size: 2em;
    padding-top: 20px;
    padding-bottom: 20px;
}

#about-texto > p{
    color: white;
    text-align: left;
    font-size: 1.5em;
}

/* CONTAINER SKILLS */

#skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 10px;
}

#skills > h2{
    padding-bottom: 30px;
    color: rgb(241, 241, 12);
    font-size: 2em;
}

#skills-icons{
    display: flex;
    flex-direction: row;
}

#skills-icons > a > img{
    max-width: 60px;
    background-color: white;
    padding: 10px;
    border: 1px;
    border-radius: 40%;
}

/* CONTAINER PORTIFOLIO */

#projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    color: rgb(241, 241, 12);
    padding: 10px;
    border-bottom: 1px solid rgba(114, 113, 113, 0.883);    
}

#projetos> h2{
    padding: 20px;
}

#projetos > article{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

.projetos{
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 350px;
    border: 5px solid rgb(241, 241, 12);
    border-radius: 5px;
    transition: all 0.5s;
}

.projetos > img{    
    background-color: rgba(0, 0, 0, 0.5);
    
}
.projetos:hover{
    box-shadow: 0px 0px 20px white;
    background: transparent;
}

.projetos > h4{
    color: #0511F2;
    font-family: var(--texto);
    text-shadow: 1px 1px 0px black;
    padding: 5px;
}

.projetos > img{
    max-width: 100%;
    border-radius: 5px;
}

/* CONTAINER FOOTER */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #131313;
    color: white;
    width: 100%;
    text-align: center;
}

#rodape{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
    justify-content: center;
    width: 50%;
    padding: 15px;
}

form > label{
    display: flex;
    color: white;
    font-size: 1.2em;
    margin-bottom: 10px; 
}

form > input{
    width: 100%;
    padding: 10px; 
    font-family: var(--texto);
    font-size: 1em;    
    border: 0px;
    outline: none;
    margin-bottom: 10px;
    transition: all 0.5s;  
}

form > input:focus{
    border-radius: 16px;
}

form > textarea{
    width: 100%;
    padding: 10px; 
    font-family: var(--texto);
    font-size: 1em;
    border: 0px;
    outline: none;
    margin-bottom: 10px;
    transition: all 0.5s;
}

form > textarea:focus{
    border-radius: 16px;
}

form > button{
    width: 40%; 
    padding: 20px;
    border: 2px solid rgb(241, 241, 12);
    background: transparent;
    color: white;
    cursor: pointer;
    font-family: var(--texto);
    font-size: 1em;
    transition: all 0.5s;
}

form > button:hover{
    background-color: rgb(241, 241, 12);
    color: #131313;
    border-radius: 16px;
    font-weight: bold;
}

#rodape-botoes{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
}

#rodape-botoes > h3{
    font-size: 30px;
    color: rgb(241, 241, 12);
}

#rodape-botoes > a{       
    color: white;
}

#rodape-botoes > a:hover{  
    color: rgb(241, 241, 12);  
    border-bottom: 1px solid rgb(241, 241, 12);
    border-radius: 10px;
}

#rodape-botoes > p{
    font-family: var(--texto);
    font-size: 10pt;
}

#rodape-sociais{
    display: flex;
    flex-direction: column;
}

#rodape-sociais > h3{
    font-size: 30px;
    color: rgb(241, 241, 12);
}

#rodape-sociais > a{    
    color: white;
}

#rodape-sociais > a:hover{  
    color: rgb(241, 241, 12);  
    border-bottom: 1px solid rgb(241, 241, 12);
    border-radius: 10px;
}

#rodape-texto{
    width: 100%;
    text-align: center;
    padding: 20px;
    border-top: 1px solid rgba(54, 54, 54, 0.883);
}


@media screen and (min-width: 480px){
    /*TOPO*/

    main > #topo{
        height: 780px;
    }

    /*ABOUT*/

    main > #about{
        flex-direction: row;
        justify-content: space-around;        
    }

    main > #about > img{
        max-width: 400px;
    }

    /*SKILLS*/ 

    main > #skills > #skills-img{
        flex-direction: row;
        justify-content: center;        
    }

    
    /*PORTIFOLIO*/

    main > #portifolio{
        flex-direction: row;
    }

    main > #portifolio > h2{
        font-size: 3em;
        text-align: center;
    }

    main > #portifolio > .projetos{
        background-color: yellow;
        max-width: 150px;
        margin-bottom: 10px;
    }

    main > #portifolio > .projetos > img{
    }

    /*CONTACT*/

    main > #contact{
        flex-direction: row;
        justify-content: space-around;
    }

    main > #contact > article > h2{
        font-size: 3em;
    }

    /*FOOTER*/

    footer > article{
        flex-direction: row;
        justify-content: space-around;
    }
}
/**/